body {
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Slab', serif;
}

.jumbotron {
    height: 250px;
    background-image: url(../OM.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 12px;
    border: 1.5px solid black;
}

.container .jumbotron {
    padding-left: 330px;
    padding-top: 0px;
}

.table {
    border: 1.5px solid black;
    border-radius: 5px;
}

.odvoji {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 3px;
}